// Place all the styles related to the SugarBags controller here.

.content-container{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}

.common-list-container{

  .collection-item{
    border:1px solid #ff0000;
    padding: 20px;
    margin: 0 10px 10px;

    .name{
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
    }
  }
}
.side-panel{
  padding: 20px;
  border:1px solid #ff0000;
}