<!DOCTYPE html>
<html>
<head>
  <title>Sucrology</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="sugar-logo"><a href="/">Sucrology</a></div>
<%= yield %>

</body>
</html>
